<div class="template">
    <div class="totaltitle">Helloworld</div>
    <div class="basicinfo">
        <div class="title">基本信息</div>
        <div class="list">
            <div class="tr">
                <div class="td-name">姓名</div>
                <div class="td-val border-right"></div>
                <div class="td-name">出生年月</div>
                <div class="td-val"></div>
            </div>
            <div class="tr">
                <div class="td-name">性别</div>
                <div class="td-val border-right"></div>
                <div class="td-name">籍贯</div>
                <div class="td-val"></div>
            </div><div class="tr">
                <div class="td-name">手机号码</div>
                <div class="td-val border-right"></div>
                <div class="td-name">邮箱</div>
                <div class="td-val"></div>
            </div><div class="tr">
                <div class="td-name">QQ</div>
                <div class="td-val border-right"></div>
                <div class="td-name"></div>
                <div class="td-val"></div>
            </div><div class="tr">
                <div class="td-name"></div>
                <div class="td-val border-right"></div>
                <div class="td-name"></div>
                <div class="td-val"></div>
            </div><div class="tr">
                <div class="td-name border-right">住址</div>
                <div class="td-val2"></div>
            </div>
        </div>
        <div class="image"></div>
    </div>
    <div class="expertise">
        <div class="title">专业技能</div>
        <div class="left">简单介绍</div>
        <div class="rightinfo"></div>
    </div>
    <div class="history">
        <div class="title">工作经历</div>
        <div class="left"></div>
        <div class="rightinfo"></div>
    </div>
    <div class="evaluation">
        <div class="title">自我评价</div>
        <div class="info"></div>
    </div>
    <div class="projects">
        <div class="title">项目经历</div>
        <div class="left"></div>
        <div class="rightinfo"></div>
    </div>
</div>