<div class="template">
    <div class="totaltitle">简历</div>
    <div class="basicinfo">
        <div class="title">基本信息</div>
        <div class="list">
            <div class="tr">
                <div class="td-name">姓名</div>
                <div class="td-val border-right">詹群</div>
                <div class="td-name">出生年月</div>
                <div class="td-val">90.01.04</div>
            </div>
            <div class="tr">
                <div class="td-name">性别</div>
                <div class="td-val border-right">男</div>
                <div class="td-name">籍贯</div>
                <div class="td-val">安徽宣城</div>
            </div><div class="tr">
                <div class="td-name">手机号码</div>
                <div class="td-val border-right">18616897510</div>
                <div class="td-name">邮箱</div>
                <div class="td-val"><a href="mailto:513705971@qq.com">513705971@qq.com‍</a></div>
            </div><div class="tr">
                <div class="td-name">QQ</div>
                <div class="td-val border-right">513705971</div>
                <div class="td-name">工作年限</div>
                <div class="td-val">2.5年</div>
            </div><div class="tr">
                <div class="td-name">政治面貌</div>
                <div class="td-val border-right">中共党员</div>
                <div class="td-name"></div>
                <div class="td-val"></div>
            </div><div class="tr">
                <div class="td-name border-right">住址</div>
                <div class="td-val2">上海市徐汇区</div>
            </div>
        </div>
        <div class="image"><img src="../../Content/resume/zq.jpg" alt="zhanqun" /></div>
    </div>
    <div class="expertise" style="height:200px">
        <div class="title">专业技能</div>
        <div class="left"></div>
        <div class="rightinfo">
            1、熟练.NET(C#)平台的C/S和B/S架构软件开发；<br />
            2、熟练使用Microsoft Visual Studio软件、SVN以及Git工具进行软件的设计、管理、编码和测试工作；<br />
            3、熟练使用DevExpress控件进行监控系统以及图表模块开发；<br />
            4、熟练SQL语句，能够根据需求熟练编写SQL语句，熟悉Oracle数据库的日常维护，熟悉MsSqlServer和Sqlite的使用；<br />
            5、熟悉JavaScript、Jquery，熟练使用JQuery EasyUI、HighCharts开发web应用，熟悉jquery插件开发；<br />
        </div>
    </div>
    <div class="history" style="height:280px">
        <div class="title">工作经历</div>
        <div class="left"></div>
        <div class="rightinfo">
            <b>2012/7--至今：上海瑞原信息技术有限公司（150-500人）</b><br />
            所属行业：	计算机服务(系统、数据服务、维修)<br />
            研 发 部：  软件工程师<br />
            1、工作内容主要为针对中国移动2G、3G数据业务数据分析系统(C/S和B/S架构)进行开发和维护，增加平台模块等；开发和维护Wlan分析系统(C/S)，以及之后的服务支持；熟悉移动2G、3G数据业务；<br />
            2、编写满足数据、语音业务项目取数需求的SQL语句以及辅助完成项目取数，同时整合报表SQL到后台自动报表中以满足项目需求；<br />
            3、开发和维护snmp性能监控系统，监控远程服务器的磁盘、CPU、内存、进程以及公司数据采集、处理系统运行状况等；<br />
            4、参与B/S版LTE数据业务分析平台模块设计、开发以及测试工作；<br />
            5、维护公司数据库正常运行以及演示平台更新等。<br />
        </div>
    </div>
    <div class="intention" style="height:120px">
        <div class="title">求职意向</div>
        <div class="left"></div>
        <div class="rightinfo">
            到岗时间：	1个月左右<br />
            希望行业：	通信/电信；计算机服务(系统、数据服务、维修)；计算机软件<br />
            目标地点：	上海、杭州<br />
            目标职能：	软件工程师<br />
        </div>
    </div>
    <div class="projects" style="height:60px">
        <div class="title">教育经历</div>
        <div class="left"></div>
        <div class="rightinfo">2008/9 -- 2012/7 	安徽建筑工业学院	网络工程专业	本科</div>
    </div>
    <div class="projects" style="height:450px">
        <div class="title">项目经历</div>
        <div class="left"></div>
        <div class="rightinfo" style="height:450px">
            <b>2014/5 --至今：B/S架构LTE数据业务分析平台开发</b><br />
            <b>开发工具：</b>	Vs2012,Oracle,PL/SQL，Git<br />
            <b>项目描述：</b><br />
            1、该系统为移动LTE数据业务分析系统，针对移动LTE下发生的数据业务进行数据分析，包括承载面、业务面、用户投诉以及监控告警等多个大类功能；<br />
            2、平台系统包括各流程KPI数据呈现、highcharts图表呈现、openlayers地图呈现等； <br />
            3、在该系统开发过程中主要参与设计web应用前端模块界面、代码编写，监控告警模块前端以及相关模块服务器端代码编写；<br />
            3、系统已有模块的测试工作；<br />
            <b>责任描述：</b>	代码编写以及测试<br />
            <br />
            <b>2012/7 --至今：C/S架构GB数据(语音)业务平台</b><br />
            <b>开发工具：</b>	Vs2008,Oracle,PL/SQL<br />
            <b>项目描述：</b><br />
            1、负责数据业务平台前台功能模块开发，界面设计，相关控件代码编写等工作，包括针对新需求对平台的模块添加和修改；<br />
            2、根据项目需求文档实现前后台SQL语句的编写以及优化； <br />
            3、为各项目同事提供后台自动报表取数以及后续支持。<br />
            <b>责任描述：</b>	开发与维护
        </div>
    </div>
</div>