body {
    background-image: url("Images/theme.jpg");
    background-repeat: repeat-x;
    margin: 0;
    padding: 0;
}

.content {
    font-size: 80pt;
    text-align: center;
    cursor: default;
    margin: 205px 0;
    color: #ff0000;
}
