.back {
    background-image: url('plugin/back.png');
    height: 45px;
    width: 50px;
    margin: 10px;
    position: absolute;
    cursor: pointer;
}

    .back:hover {
        background-color: #e695e0;
    }
